<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>
<button
  pButton
  (click)="mostrarNombre()"
  icon="pi pi-check"
  iconPos="right"
  class="p-button-help"
  title="Cambiar nombre"
  label="Cambiar Nombre"
></button>
<br />
<br />
<p-card [header]="nombre | titlecase" subheader="Sub Title">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odit eos dicta
  numquam pariatur eius eaque minima laudantium cum illo?
</p-card>
